.button {
	margin: 5px;
	padding: 0.4rem;
	width: fit-content;
	min-width: 4em;
	background: var(--bit-darker-color) !important;
	border: 1px solid #D1D5DB;
	border-radius: 0.375rem;
	
	font-family: inherit;
	font-size: 1rem;
	color: var(--color);
	box-shadow: 0 1px 2px #0000000D;
	cursor: pointer;
	
	transition: box-shadow 0.1s;
	
	&:hover {
		outline: none;
		border-color: var(--blue);
		box-shadow: 0 0 0 4px #3B82F64D;
	}
	
	&.block {
		display: block;
	}
}