.header {
	height: var(--header-height);
	display: flex;
	justify-content: flex-end;
	background-color: var(--header-bg);
	
	nav {
		display: flex;
	}
	a {
		color: black !important;
		padding: 0.75rem;
		text-decoration: none;

		&:hover {
			background-color: #0001;
		}
	}
}
.active {
	text-decoration: underline !important;
	/* font-weight: bold; */
}