.verticalStack, .horizontalStack {
	writing-mode: horizontal-tb;
	display: inline-flex;
	align-items: center;
	line-height: normal;
}
.verticalStack {
	margin-block-start: 0.2em;
	flex-direction: column;
	line-height: 0.5;
	vertical-align: text-top;
	
	&.verticalText * {
		transform-origin: top;
	}
	&:not(.verticalText) {
		margin-block-start: 0.3em;
	}
	
	* {
		display: inline-block;
		transform: scaleY(0.5);
	}
}
.horizontalStack {
	letter-spacing: -0.5em;
	padding-inline-end: 0.1em;
	
	@-moz-document url-prefix() {
		margin-block-end: -0.1em;
		padding-inline-end: 0.2em;
	}
	
	* {
		margin-inline-start: -0.05em;
		display: inline-block;
		transform: scaleX(0.5);
		transform-origin: top;
	}
}