.pieceInfo {
	margin: 0.8em;
	padding: 1.25em;
	display: inline-block;
	outline: 3px solid #E6E99F;
	vertical-align: top;
	text-align: left;
	
	background: var(--header-bg);
	border-radius: 1em;
	
	@media (prefers-color-scheme: dark) {
		background: #36454F;
		outline-color: #232D33;
	}
	
	&:target {
		outline: 5px solid gold;
		@media (prefers-color-scheme: dark) {
			outline-color: #526C7E;
		}
	}
	
	> * {
		margin: 0;
	}
}