.stepMove, .rangeMove, .jumpMove {
	color: var(--light-mode-text-color);
}
.stepMove {
	background: #D0D0F0 !important;
}
.rangeMove {
	background: #F0D0D0 !important;
}
.jumpMove {
	background: #F0F0B0 !important;
}