.stepMove, .rangeMove, .rangeCaptureMove, .jumpMove, .iguiMove, .hookMove {
	color: var(--light-mode-text-color);
	text-align: center;
	
	padding-top: 0.1875em !important;
	box-sizing: border-box;
}
.stepMove {
	background: #D0D0F0 !important;
}
.rangeMove {
	background: #F0D0D0 !important;
}
.rangeCaptureMove {
	background: #FFDEAD !important;
}
.jumpMove {
	background: #F0F0B0 !important;
}
.iguiMove {
	background: #D0F0D0 !important;
	font-weight: bold;
	font-size: 1.1em;
}