.table {
	--var-size: 30px !important;
	display: inline-table;
	
	&, tr, td {
		border: 1px solid #A2A9B1;
		border-collapse: collapse;
		padding: 0;
		margin: 0;
	}
	tr {
		height: var(--var-size);
	}
	td {
		width: var(--var-size);
		height: var(--var-size);
		text-align: center;
		
		@media (prefers-color-scheme: dark) {
			background: #4B5563;
		}
		
		&.piece {
			background: #E0E0E0;
			
			@media (prefers-color-scheme: dark) {
				background: var(--darkish);
			}
		}
	}
}
.compoundMove {
	display: flex;
	align-items: center;
	justify-content: center;
	> span {
		padding: 5px;
	}
}