.wrapper {
	width: var(--width);
	height: var(--width); /* aspect-ratio doesn't seem to work here */
	--width: min(100vw, calc(100vh - var(--header-height)));
	
	/* Without this line, Firefox will sometimes think that it isn't scaled down and make the page scrollable (even though there is nothing there!) */
	overflow: hidden;
	
	transition: transform 0.3s;
	&.flipped {
		transform: rotate(180deg);
	}
}
.board {
	/* Desktop browsers work poorly with non-integer lengths, so everything is actually a larger size then scaled down which fixes it. Mobile browsers don't seem to have this problem, probably because users are more likely to be zooming in to small things. */
	--scale: 4;
	--one-px: calc(var(--scale) * 1px);
	--border-width: calc(0.75 * var(--one-px));
	width: calc(var(--scale) * var(--width));
	scale: calc(1 / var(--scale));
	transform-origin: 0 0;
	aspect-ratio: 1 / 1;
	display: grid;
	grid-template: repeat(36, 1fr) / repeat(36, 1fr);
	border-collapse: collapse;
	background-image: url("../assets/board.jpg");
	background-size: 40% 40%;
	
	&.sente:not(.hasSelectedSquare) > div.sente.canMove,
	&.gote:not(.hasSelectedSquare) > div.gote.canMove,
	> div.selected {
		background-color: #30A0F088;
		cursor: pointer;
	}
	
	> div {
		--border: var(--border-width) solid black;
		
		container-type: size;
		box-sizing: border-box;
		border-top: var(--border);
		border-left: var(--border);
		overflow: hidden;
		
		&:nth-child(36n) {
			border-right: var(--border);
		}
		&:nth-child(n + 1261) {
			border-bottom: var(--border);
		}
		
		&.lastMoveStart {
			background-color: #FC08;
		}
		&.lastMoveEnd {
			background-color: #F908;
		}
		&.moveTarget {
			background-color: #C330F088;
			cursor: pointer;
		}
		
		/* debug highlights */
		&.inAttackMap {
			background-color: red;
		}
		&.inReverseAttackMap {
			background-color: green;
			&.inAttackMap {
				background: linear-gradient(red 50%, green 50%);
			}
		}
	}
}