.board {
	width: min(100vw, calc(100vh - var(--header-height)));
	aspect-ratio: 1 / 1;
	display: grid;
	grid-template: repeat(36, 1fr) / repeat(36, 1fr);
	border-collapse: collapse;
	background-image: url("../assets/board.jpg");
	background-size: 40% 40%;
	
	> div {
		--border: 1px solid black;
		
		container-type: size;
		box-sizing: border-box;
		border-top: var(--border);
		border-left: var(--border);
		overflow: hidden;
		
		&:nth-child(36n) {
			border-right: var(--border);
		}
		&:nth-child(n + 1261) {
			border-bottom: var(--border);
		}
		
		&.moveTarget {
			background-color: #c330f088;
			cursor: pointer;
		}
		
		/* debug highlights */
		&.inAttackMap {
			background-color: red;
		}
		&.inReverseAttackMap {
			background-color: green;
			&.inAttackMap {
				background: linear-gradient(red 50%, green 50%);
			}
		}
	}
	
	&.sente:not(.hasSelectedSquare) > div.sente.canMove,
	&.gote:not(.hasSelectedSquare) > div.gote.canMove,
	> div.selected {
		
		background-color: #30A0F088;
		cursor: pointer;
	}
}