@import "./fonts.css";

:root {
	--header-height: min(50px, 6.7vh);
	--header-bg: #ECEDC8;
	--light-mode-text-color: #222;
	--darkish: #27292D;
	
	font-family: Catamaran, "Trebuchet MS", "Noto Sans JP", Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	
	color: var(--light-mode-text-color);
	background-color: white;
	
	scroll-behavior: smooth;
	
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
	
}

body {
	margin: 0;
}
table {
	&, tr, td, th {
		border: 1px solid #A2A9B1;
		border-collapse: collapse;
		padding: 2px 5px;
		margin: 0;
	}
	th {
		background: #DADBDB;
		
		@media (prefers-color-scheme: dark) {
			background: var(--darkish);
		}
	}
	td {
		background: #F8F9FA;
		
		@media (prefers-color-scheme: dark) {
			background-color: #202122;
		}
	}
}
a {
	/* these are the ones used in VitePress */
	color: #A8B1FF;
	&:visited {
		color: #5C73E7;
	}
}
main > section {
	margin: 2em;
}

#app {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

@media (prefers-color-scheme: dark) {
	:root {
		color: #E7E7E7;
		background-color: #2D2D2D;
	}
}