@import "./fonts.css";

:root {
	font-family: Catamaran, "Trebuchet MS", "Noto Sans JP", Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	
	color: #222;
	background-color: white;
	
	scroll-behavior: smooth;
	
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
	
	--header-height: min(50px, 6.7vh);
}

body {
	margin: 0;
}
table {
	&, tr, td, th {
		border: 1px solid #A2A9B1;
		border-collapse: collapse;
		padding: 2px 5px;
		margin: 0;
	}
	th {
		background: #DADBDB;
	}
	td {
		background: #F8F9FA;
	}
}
main > section {
	margin: 2em;
}

#app {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

@media (prefers-color-scheme: dark) {
	:root {
		color: #ccc;
		background-color: #1a1a1a;
	}
}